/** @format */
@use '../../styles/variables' as *;

@mixin txt {
  .text_dk {
    color: $ctl_text;
  }
}

%navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 200px 400px;
  align-items: center;
  justify-content: space-between;

  z-index: 9;

  @include txt;

  .brand_area {
    display: grid;
    grid-template-columns: 150px 30px;
    align-items: center;

    .brand_txt_txt {
      font-size: 2rem;
      @media (max-width: 600px) {
        font-size: 1rem;
      }
    }

    @media (max-width: 600px) {
      grid-template-columns: 70px 30px;
    }
  }

  .login_area {
    display: grid;
    grid-template-columns: 150px 50px 50px;
    justify-content: end;
    align-items: center;
    justify-items: end;

    .login_txt_seconnecter {
      font-size: 1rem;

      @media (max-width: 600px) {
        display: none;
      }
    }
    .login_logo_componenent {
      font-size: 1.6rem;
      margin-right: 8px;
      cursor: pointer;
      @media (max-width: 600px) {
        display: block;
        float: right;
        font-size: 1.3rem;
        margin-right: 19px;
      }
    }
    .login_switch {
      @media (max-width: 600px) {
        margin-top: -17px;
        margin-right: 17px;
      }
    }

    @media (max-width: 600px) {
      grid-template-columns: 50px 40px;
    }
  }
}

.navbar_dk {
  @extend %navbar;
  background: $dk_background;
  color: $ctl_text;

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: 100px 1fr;
  }
}

.navbar_ctl {
  @extend %navbar;
  background: $ctl_background;
  color: $dk_text;

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: 100px 1fr;
    font-size: 0.9rem;
  }
}

%switch {
  margin: -4px 5px 5px 15px;
}
.switchChecked {
  @extend %switch;
  background: $dk_background !important;
  font-size: 1rem;
  @media (max-width: 600px) {
    display: block;

    font-size: 1.8rem;
  }
}
.switchUnChecked {
  @extend %switch;
  background: $ctl_background !important;
  font-size: 1rem;
  @media (max-width: 600px) {
    display: block;
    font-size: 1.8rem;
  }
}
