@use '../../styles/variables' as *;

.trigger {
  padding: 0 24px;
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: $ctl_background;
  }
}

.antMenuItemSelected_ctl {
  background: $dk_background !important;
}
.antMenuItemSelected_dk {
  background: $ctl_background !important;
}
.antMenuItemUnSelected {
  background: transparent !important;
}

%logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  @media (max-height: 600px) {
    font-size: 10px;
  }
}
.logo_dk {
  @extend %logo;
  background: darken($ctl_background, 9%) !important;
  color: $ctl_text;
}
.logo_ctl {
  @extend %logo;
  background: $ctl_background !important;
  color: $dk_background;
}

.header_dk {
  background: darken($ctl_background, 18%) !important;
}
.header_ctl {
  background: darken($ctl_background, 35%) !important;
}

.siteLayout_dk {
  background: darken($ctl_background, 18%) !important;
}
.siteLayout_ctl {
  background: darken($ctl_background, 35%) !important;
}
.siteLayoutBackground {
  background: $ctl_text !important;
}
