/** @format */

.mycontainer {
  padding: 0 5rem;
  display: grid;
  place-items: center;
  height: 77vh;
  @media (max-width: 600px) {
    padding: 0 1rem;
  }
}
.myelement {
  background-color: transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2%;
}
